# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

In [4]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [2]:
# chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
num_rows = len(chipo)
print("Số lượng observations (rows) trong dataset:", num_rows)

Số lượng observations (rows) trong dataset: 4622

In [7]:
# Solution 2
num_rows = chipo.shape[0]
print("Số lượng observations (rows) trong dataset:", num_rows)

Số lượng observations (rows) trong dataset: 4622

### Step 6. What is the number of columns in the dataset?

In [8]:
num_cols = chipo.shape[1]  # hoặc len(chipo.columns)
print("Step 6: Number of columns in the dataset:", num_cols)

Step 6: Number of columns in the dataset: 5

### Step 7. Print the name of all the columns.

In [9]:
print("Step 7: The dataset columns are:", chipo.columns)

Step 7: The dataset columns are: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
print("Step 8: The dataset index is:", chipo.index)

Step 8: The dataset index is: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
item_quantity = chipo.groupby("item_name")["quantity"].sum()

# Sắp xếp giảm dần và lấy item đứng đầu
item_quantity_sorted = item_quantity.sort_values(ascending=False)
most_ordered_item = item_quantity_sorted.index[0]
print("Step 9: The most-ordered item:", most_ordered_item)

Step 9: The most-ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
most_ordered_count = item_quantity_sorted.iloc[0]
print(f"Step 10: Number of '{most_ordered_item}' ordered:", most_ordered_count)

Step 10: Number of 'Chicken Bowl' ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
most_ordered_choice = (
    chipo
    .groupby("choice_description")["quantity"]
    .sum()
    .sort_values(ascending=False)
    .index[0]
)
print("Step 11: The most ordered choice_description:", most_ordered_choice)

Step 11: The most ordered choice_description: [Diet Coke]

### Step 12. How many items were orderd in total?

In [14]:
total_items_ordered = chipo["quantity"].sum()
print("Step 12: Total items ordered in the dataset:", total_items_ordered)

Step 12: Total items ordered in the dataset: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [15]:
print("Step 13.a: Before conversion, item_price type:", chipo["item_price"].dtype)

Step 13.a: Before conversion, item_price type: object

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
chipo["item_price"] = chipo["item_price"].str.replace('$', '', regex=False).astype(float)

#### Step 13.c. Check the item price type

In [17]:
print("Step 13.c: After conversion, item_price type:", chipo["item_price"].dtype)

Step 13.c: After conversion, item_price type: float64

### Step 14. How much was the revenue for the period in the dataset?

In [18]:
# Tạo cột 'revenue' = quantity * item_price (nếu muốn lưu)
chipo["revenue"] = chipo["quantity"] * chipo["item_price"]

# Tổng doanh thu
total_revenue = chipo["revenue"].sum()
print("Step 14: Total revenue in the dataset:", total_revenue)

Step 14: Total revenue in the dataset: 39237.02

### Step 15. How many orders were made in the period?

In [19]:
# Số lượng đơn hàng = số lượng giá trị duy nhất trong 'order_id'
total_orders = chipo["order_id"].nunique()
print("Step 15: Total orders in the period:", total_orders)

Step 15: Total orders in the period: 1834

### Step 16. What is the average revenue amount per order?

In [20]:
# Solution 1

avg_revenue_per_order = total_revenue / total_orders
print("Step 16 (Cách 1): Average revenue per order:", avg_revenue_per_order)

Step 16 (Cách 1): Average revenue per order: 21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [21]:
# Tính revenue cho mỗi order_id, rồi lấy mean
avg_revenue_per_order_2 = (
    chipo
    .groupby("order_id")["revenue"]
    .sum()
    .mean()
)
print("Step 16 (Cách 2): Average revenue per order:", avg_revenue_per_order_2)

Step 16 (Cách 2): Average revenue per order: 21.39423118865867