# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [5]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv"
baby_names = pd.read_csv(url)
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [6]:
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [7]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

### Step 6. Is there more male or female names in the dataset?

In [10]:
# Nhóm theo cột 'Gender' và đếm số lượng
gender_counts = baby_names['Gender'].value_counts()
print(gender_counts)

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [13]:
# Nhóm dữ liệu theo tên
names = baby_names.groupby('Name').sum()
print(names.head())  # In ra một vài dòng đầu tiên để kiểm tra

           Year                                             Gender  \
Name
Aaban      4027                                                 MM
Aadan      8039                                               MMMM
Aadarsh    2009                                                  M
Aaden    393963  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...
Aadhav     2014                                                  M

                                                     State  Count
Name
Aaban                                                 NYNY     12
Aadan                                             CACACATX     23
Aadarsh                                                 IL      5
Aaden    ALALALALALALALARARARAZAZAZAZAZAZCACACACACACACA...   3426
Aadhav                                                  CA      6

### Step 8. How many different names exist in the dataset?

In [15]:
# Đếm số lượng tên khác nhau
num_different_names = baby_names['Name'].nunique()
print(f"Số lượng tên khác nhau trong dữ liệu là: {num_different_names}")

Số lượng tên khác nhau trong dữ liệu là: 17632

### Step 9. What is the name with most occurrences?

In [16]:
# Tìm tên có số lần xuất hiện nhiều nhất
most_frequent_name = baby_names['Name'].value_counts().idxmax()
print(f"Tên có số lần xuất hiện nhiều nhất là: {most_frequent_name}")

Tên có số lần xuất hiện nhiều nhất là: Riley

### Step 10. How many different names have the least occurrences?

In [18]:
# Tìm các tên có số lần xuất hiện ít nhất
least_frequent_names = baby_names['Name'].value_counts().min()
least_frequent_names = baby_names['Name'].value_counts()[baby_names['Name'].value_counts() == least_frequent_names]
print(f"Số lượng tên có số lần xuất hiện ít nhất là: {len(least_frequent_names)}")

Số lượng tên có số lần xuất hiện ít nhất là: 3682

### Step 11. What is the median name occurrence?

In [19]:
# Tính trung vị của số lần xuất hiện tên
median_name_occurrence = baby_names['Name'].value_counts().median()
print(f"Trung vị của số lần xuất hiện tên là: {median_name_occurrence}")

Trung vị của số lần xuất hiện tên là: 8.0

### Step 12. What is the standard deviation of names?

In [20]:
# Tính độ lệch chuẩn của số lần xuất hiện tên
std_dev_name_occurrence = baby_names['Name'].value_counts().std()
print(f"Độ lệch chuẩn của số lần xuất hiện tên là: {std_dev_name_occurrence}")

Độ lệch chuẩn của số lần xuất hiện tên là: 122.02996350814088

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [21]:
# Tóm tắt thống kê với trung bình, min, max, độ lệch chuẩn và các phần tử phân vị
summary_stats = baby_names['Name'].value_counts().describe()
print(summary_stats)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64