<a href="https://colab.research.google.com/github/Mcuong1923/Databt/blob/main/05_Apply/Students_Alcohol_Consumption/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
url = "https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/student-mat.csv"
df = pd.read_csv(url)

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [3]:
df_sliced = df.loc[:, 'school':'guardian']
print(df_sliced)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian
0    course   mother
1    course   father
2     other   mother
3      home   mother
4      home   father
..      ...      ...
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

[395 rows x 12 columns]

### Step 5. Create a lambda function that will capitalize strings.

In [4]:
# Tạo hàm lambda để chuyển đổi chuỗi thành chữ hoa
capitalize_string = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [5]:
# Áp dụng hàm lambda cho cột 'Mjob' và 'Fjob'
df['Mjob'] = df['Mjob'].apply(capitalize_string)
df['Fjob'] = df['Fjob'].apply(capitalize_string)

### Step 7. Print the last elements of the data set.

In [6]:
# In các phần tử cuối cùng của dữ liệu
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[5 rows x 33 columns]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [7]:
# Chuyển tất cả tên cột thành chữ hoa
df.columns = df.columns.str.capitalize()

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [10]:
# Tạo hàm 'majority' để xác định người uống hợp pháp
def majority(age):
    return age > 17

# Áp dụng hàm majority cho cột 'Age' và tạo cột mới 'legal_drinker'
df['legal_drinker'] = df['Age'].apply(majority)

### Step 10. Multiply every number of the dataset by 10.
##### I know this makes no sense, don't forget it is just an exercise

In [11]:
# Nhân tất cả các giá trị số trong DataFrame với 10
df_numeric = df.select_dtypes(include=['number']).applymap(lambda x: x * 10)

<ipython-input-11-f70c0ee2ccfb>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_numeric = df.select_dtypes(include=['number']).applymap(lambda x: x * 10)